Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/BloodRift/JT/Enemy.uasset
Content/BloodRift/JT/JT_TempPlayer.uasset
